
.itemsListWrapper {
  margin-top: 2rem;
  @media screen and (max-width: 575.98px) {
    margin-top: 0;
  }
}
.itemsListWrapper > *:not(:first-child) {
  margin-top: 2rem;
}

.hoverHighlight {
  box-shadow: 0 0 20px 1px var(--ifm-image-shadow);
  // filter: drop-shadow(30px 10px 4px var(--ifm-image-shadow);;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  @media screen and (min-width: 576px) {
    display: flex;
  }
}

.hoverHighlight:hover {
  box-shadow: 0 0 10px 5px #fbaf0b50;
}

.imageWrapper {
  min-width: 300px;

  > * {
    border-radius: 10px 0 0 10px;
  }

  @media screen and (max-width: 575.98px) {
    // I don't know why need this, but the margin doesn't show up from the margin-top 2rem; above in the itemsListWrapper > *:not(:first-child)
    margin-bottom: 1rem;
    > * {
      border-radius: 10px;
    }
  }
}

.episodeTitleBlock {
  padding: 1rem 1rem 1rem 2rem;
  @media screen and (max-width: 575.98px) {
    display: none !important;
  }
}

.title {
  margin-top: 0rem;
  white-space: normal;

  /* Support a multiline description that overflows at line three */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (max-width: 765.98px) {
    -webkit-line-clamp: 5;
    line-clamp: 5;
  }
}

.playIcon {
  color: color-mix(in srgb, var(--secondary), transparent 30%);
  background-color: color-mix(in srgb, var(--primary), transparent 20%);
  border-radius: 100%;

  &:hover {
    box-shadow: 0 0 2px 5px #fbaf0b99;
  }
}

.description {
  margin-top: 1rem;
  white-space: normal;

  /* Support a multiline description that overflows at line three */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (max-width: 765.98px) {
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: none;
  }
}