/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 0;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 0 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 765.98px) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width: 766px) {
  .mobile {
    display: none;
  }
}

.authorsLink {
  text-decoration: none !important;

  &:hover * {
    color: var(--secondary) !important;
  }
}