.youtubeWrapper {
  max-width: min(100%, 90vw);
  max-height: min(500px, 40vh);
  align-self: center;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.socialButtonsWrapperMobile {
  @media (min-width: 1220px) {
    display: none !important;
  }
}