.button {
  border-radius: 10px;
  border-color: var(--ifm-link-color);
  background-color: var(--ifm-color-primary);
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 0 5px 1px var(--ifm-image-shadow);
}

.button * {
  margin: 0;
}

.button:hover {
  background-color: var(--ifm-link-color);
}

.button:hover * {
  color: var(--primary);
}