.wrapper {
  display: flex;
}

@media screen and (max-width: 991.98px) {
  .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  .logoImage {
    margin: auto 2em auto 0;

    > img {
      height: 100%;
      display: block;
      width: auto;
    }
  }
}